.step__content {
  padding: 64px 110px;
  background-color: #fff;
  border-radius: 24px;
  margin-top: 24px;
  .step__body {
    margin-top: 64px;
    &-form {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .form__group {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
    &-nav {
      margin-top: 64px;
      display: flex;
      justify-content: space-between;
    }
  }
}
